{% extends 'base.html' %}
{% block body %}
<div class="container-fluid text-center justify-content-center">
    <div class="row g-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="mt-3">
                <img class="img-fluid z-depth-2 img-thumbnail rounded" style="max-height: 70vh;"
                    src="{% if tmdb_info['poster_path'] != None %}{{iip|string + tmdb_info['poster_path']|string}}{% else %}/static/img/notAvailable.jpg{% endif %}" alt="{{tmdb_info['title']}}">
                <div class="text-center align-items-center my-4" style="background-color: rgb(29, 29, 29);">
                    <div class="h2 text-white mb-4">Sorry! This movie is unavailable</div>
                    <button type="button" class="col col-9 btn btn-outline-success btn-md  btn-rounded waves-effect"
                    onclick="
                    location.href = '/request/{{imdb_id}}' + '+' + '{{id}}'
                    Swal.fire({
                        title: 'Submitting Request...',
                        imageUrl: '../../../static/img/spinner.gif',
                        timer: 3000
                    })">
                        Request This Movie
                    </button>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-xl-5 col-lg-5">
            <div class="row gy-4 mx-2 mt-2">
                <div class="text-white text-left ">
                    <div class="h1">{{tmdb_info['title']}}</div>
                    <div class="h6 mt-4">
                        <span class="mr-2">{{tmdb_info['release_date'].split("-")[0]}}</span>
                        <span>*</span>
                        <span class="ml-2">{{tmdb_info['runtime']}} Mins</span>
                        </div>
                    <div class="h6">Original Name : {{tmdb_info['original_title']}}</div>
                    <div class="h6">
                        {% if genre.endswith(", ") %}
                            {{genre.replace(",","")}}
                        {% else %}
                            {{genre.replace(", ","/ ")}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mt-5 gy-5 text-white">
                <div class="row my-2 ">
                    <div class="col-3 mx-4 text-left">
                        <div class=""><img style="max-width:48px;" src="../../../static/img/imdb.png"></div>
                    </div>
                    <div class="col-3 mx-4 text-left">
                        {% if omdb_info %}
                            {% if omdb_info["Ratings"] %}
                                <div class="mx-3">{{omdb_info["Ratings"][0]["Value"]}}</div>
                            {% else %}
                                <div class="mx-3">{{omdb_info["imdbRating"]}}</div>
                            {% endif %}
                        {% else %}
                        <div class="mx-3">{{tmdb_info["vote_average"]}}</div>
                        {% endif %}
                    </div>
                </div>
                {% if omdb_info["Ratings"] %}
                    <div class="row my-2">
                        <div class="col-3 mx-4 text-left">
                            <div class=""><img style="max-width:32px;" src="../../../static/img/rotten_tomatoes.png"></div>
                        </div>
                        {% if omdb_info["Ratings"][1] %}
                            <div class="col-3 mx-4 text-left">
                                <div class="mx-3">{{omdb_info["Ratings"][1]["Value"]}}</div>
                            </div>
                        {% else %}
                            <div class="col-3 mx-4 text-left">
                                <div class="mx-3">NA</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row my-2">
                        <div class="col-3 mx-4 text-left">
                            <div class=""><img style="max-width:32px;" src="../../../static/img/metacritic32.png"></div>
                        </div>
                        {% if omdb_info["Ratings"][2] %}
                            <div class="col-3 mx-4 text-left">
                                <div class="mx-3">{{omdb_info["Ratings"][2]["Value"]}}</div>
                            </div>
                        {% else %}
                            <div class="col-3 mx-4 text-left">
                                <div class="mx-3 my-1">NA</div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}

                    <div class="row my-2">
                        <div class="col-3 mx-4 text-left">
                            <div class=""><img style="max-width:32px;" src="../../../static/img/rotten_tomatoes.png"></div>
                        </div>
                        <div class="col-3 mx-4 text-left">
                            <div class="mx-3">NA</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-3 mx-4 text-left">
                            <div class=""><img style="max-width:32px;" src="../../../static/img/metacritic32.png"></div>
                        </div>
                        <div class="col-3 mx-4 text-left align-items-center">
                            <div class="mx-3 my-1">NA</div>
                        </div>
                    </div>
                {% endif %}
                
            </div>
            <div class="text-left row mt-5 mx-2">
                <div class="h3 text-white">Plot</div>
                {% if omdb_info["Plot"] %}
                    <div class="h6 text-white">{{omdb_info["Plot"]}}</div>
                {% else %}
                <div class="h6 text-white">{{tmdb_info["overview"]}}</div>
                {% endif %}
                
            </div>
        </div>
        {% if related_movies|length > 0 %}
            <div class="d-block d-lg-block d-xl-block col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="h5 my-4 text-white text-center">Related Movies</div>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 row-cols-xl-2 gy-1">
                    {% for rmovie in related_movies %}
                        <div class=" justify-content-center">
                            <a href="/details/{{rmovie.id}}">
                                <img class="img-fluid img-thumbnail thumb_movie" style="max-width: 125px;" src="{{rmovie.posterLink}}">
                            </a>
                            <div class="text-white mx-2 my-2" style="font-size:13px;">{{rmovie.name}}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock body %}

{% block extrajs %}
    <script>
        window.onload = function(){
            $( '#navbar' ).removeClass('fixed-top');
        }
    </script>
{% endblock extrajs %}